Repository pagopa/pagopa-azure-devops, pull requests merged in 2023-08, with the labels that each got.

#227 ci: Remove gpd-core deploy pipeline [PAGOPA-1132]
  azure-devops/gps/06_pagopa-gpd-debt-position.tf
  azure-devops/gps/README.md
Labels: status: applied

#229 feat: Added deploy pipeline FdR-XML-to-JSON
  azure-devops/fdr/06_pagopa-fdr-xml-to-json-fn.tf
  azure-devops/fdr/README.md
Labels: DEV, UAT

#232 feat: Taxonomy
  azure-devops/shared/06_pagopa-taxonomy-fn.tf
  azure-devops/shared/README.md
Labels: DEV, UAT, PROD

#234 fix: Tls apiconfig
  azure-devops/apiconfig/05_tlscert-weudev-apiconfig-internal-dev-platform-pagopa-it.tf
  azure-devops/apiconfig/05_tlscert-weuprod-apiconfig-internal-platform-pagopa-it.tf
  azure-devops/apiconfig/05_tlscert-weuuat-apiconfig-internal-platform-pagopa-it.tf
Labels: status: applied
